.modal{
    position:absolute;
    width: 100%;
    height:80%;
    z-index: 10;
    background-color: rgba(223, 221, 221, 0.9);
    display:flex;
    justify-content: center;
}

.favorites button{
    width: 15vw;
    outline: none;
    border: 1px inset #BBB;
    border-radius: 5px;
    margin:5px;
    padding:5px;
    width: 5rem;
    color: white;
    background-color: rgb(72, 72, 233);
} 