
.signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:5px;
    padding:5px;
    box-shadow: 2px 2px 2px 1px #333;
}

.signup-container > input, .signup-container > button{
    width: 15vw;
    outline: none;
    border: 1px inset #BBB;
    border-radius: 5px;
    margin:5px;
    padding:5px;
}

.signup-container > button{
    width: 5rem;
    color: white;
    background-color: rgb(72, 72, 233);
}


.signup-container > a{
    width: 5rem;
    color: white;
    background-color: rgb(72, 72, 233);
    text-decoration: none;
    height: 4vh;
    border: 1px inset #BBB;
    border-radius: 5px;
}